* {
	box-sizing: border-box;
}

body {
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 1.3;
    font-size: 16px;
}

.btn {
    font-size: 24px;
    background-color: #FEDE00;
    border: none;
    width: 372px;
    height: 56px;
    transition: border 0.3s, background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #FEDE00;
    color: #fff;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 86px;
    padding-bottom: 122px;
}

.header__top {
    display: flex;
    margin-bottom: 46px;
}

.logo {
    padding-right: 35px;
}

.menu__items {
    display: flex;
    align-items: center;
}

.menu__item:not(:last-child) {
    margin-right: 24px;
}

.menu__link {
    color: #fff;
    transition: color 0.3s;
}

.menu__link:hover {
    color: #FEDE00;
}

.menu__phone {
    width: 47px;
    height: 47px;
    background-color: #efd103;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.menu__phone:hover {
    background-color: #fff;
}

hr {
    height: 41px;
    background-color: #C4C4C4;
    border: none;
    margin-bottom: 44px;
}

.header__title {
    font-weight: 700;
    font-size: 45px;
    color: #fff;
    max-width: 754px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.header__title span {
    padding-top: 25px;
    display: block;
    font-weight: 400;
    font-size: 24px;
    color: #FEDE00;
}

.about {
    padding-top: 86px;
    padding-bottom: 370px;
}

.about .container {
    position: relative;
}

.about__title {
    max-width: 172px;
    border-bottom: 4px solid #FEDE00;
    margin-bottom: 22px;
}

.about__text {
    max-width: 474px;
    text-transform: uppercase;
}

.home__vector {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.tutorial {
    padding-top: 69px;
    padding-bottom: 95px;
    background-color: #1C1C1C;
}

.tutorial__title {
    color: #fff;
    border-bottom: 4px solid #FEDE00;
    display: flex;
    justify-content: center;
    align-items: center;
}